/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    display: flex;
    place-content: center;
    place-items: center;
    height: 120vh;
    background-color: hsl(0, 0%, 95%);
    flex-direction: column;
}

header{
    /* background-color: yellow; */
    width: 100%;
}

.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* transform: translateX(-500px); */
    border: 2px solid;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius:50px;
    cursor: pointer;
    transition: opacity .3s;
}

.arrow:hover{
    opacity: .5;
}

#calculator{
    flex: 2;
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 20px;
    max-width: 350px;
    overflow: hidden;
    height: 100vh;
}

#display{
    width: 100%;
    padding: 17px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding:20px;
}

button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 30%);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}

@media (max-width: 480px) {
    #calculator{
        max-height: 550px;
    }

    body{
        height: 100vh;
    }
}