*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(9, 9, 71);
    color: #fff;
    height: 100vh;
    display: flex;
    place-content: center;
    place-items: center;
}

div{
    /* border: 2px solid #000; */
    font-size: 2.3rem;
    font-family: monospace;
    width: 100%;
    display: flex;
    place-content: center;
    place-items: center;
}