*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    place-content: center;
    place-items: center;
    transition: all .3s ease; 
    background-color: rgb(115, 11, 213);
}

#controls{
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(91, 46, 132);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: 300px;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    width: 300px;
    color: black !important;
    h1{
        font-size: 1.5rem;
        color: black !important;
        margin-bottom: 1.5rem;
    }
}

.color-code{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.copy-btn{
    all: unset;
    color: gray;
    font-size: 12px;
    cursor: pointer;
}

#change{
    width: 100%;
    padding: 0.8rem 1.5rem;
    font-size: .8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    border: none;
    background-color: #4caf50;
    color: #fff;
}

#change:hover{
    background-color: #45a049;
}
