*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    background: linear-gradient(90deg, hsla(350, 73%, 47%, 1) 0%, hsla(230, 33%, 47%, 1) 100%);
}

h1{
    margin-bottom: 30px;
    background: linear-gradient(90deg, hsla(354, 95%, 24%, 1) 0%, hsla(234, 70%, 24%, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.wrapper{
    background-color: #aa3678;
    max-height: 310px;
    display: flex;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    overflow-y:auto;
    scrollbar-width: none;
    transition: all .3s;
    margin-bottom: 30px;
}

 .wrapper.wrapper::-webkit-scrollbar {
    background-color: #fffafa; 
    display: none;
    border-radius: 10px;
    border: 2px solid #fff;
  }

  /* Handle on hover */
  .wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

.wrapper::-webkit-scrollbar-track {
    background: #1a0303;
    border-radius: 10px;
 }

.box {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.box input {
    width: 100%;
    margin-right: 10px;
    border: 0;
    outline: none;
    padding: 15px 20px;
    border-radius: 6px;
    background: #4360f4;
    color: #e6e6e6;
}
 button {
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 7px;
    background: #4360f4;
    cursor: pointer;
    color: #e6e6e6;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.409);
}

li {
    position: relative;
    list-style: none;
    margin-top: 10px;
    padding: 10px 16px;
    font-size: 1.1rem;
    border-radius: 7px;
    background: rgb(0, 0, 255);
    color: #e6e6e6;
    user-select: none;
    box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.409);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    input{
        outline: none;
        border: 0;
    }
}

li.done{
    background-color: #481431;
}

i{
    cursor: pointer;
}