*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

:root {
    --primary-yellow: #FFD100;
    --dark-black: #121212;
    --light-black: #1E1E1E;
    --gray-light: #F0F0F0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-black);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 30px;
    overflow: hidden;
    width:100vw;
}

.title{
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

h1{
    display: flex;
    justify-self: center;
    /* margin: 50px; */
    margin-bottom: 0;
    /* margin-left: 30px; */
    font-size: 50px;
}

.buttons{
    width: 30vw;
    height: 40px;
    /* background-color: black; */
    display: flex;
    gap: 1.3rem;
    padding: 20px; 
    place-items: center;
}

.button{
    width: 60px;
    font-size: 1rem;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    place-items: center;
    place-content: center;
    background-color: var(--dark-black);
    color: var(--gray-light);
    cursor: pointer;
    opacity: .6;
    transition: all .5s;
}

#all-button{
    flex: 1;
}

#one-button{
    flex: 2;
}

#two-button{
    flex: 3;
}

.button:focus{
    background-color: var(--primary-yellow);
    color: #fff;
    opacity: 1;
}

.button:hover{
    opacity: .4;
}

 #all, #utility, #fun{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 30px;  
    column-gap: 15px;
    padding: 2rem;
}

#utility, #fun {
    display: none;
}

.card{
    background-color: var(--light-black);
    height: 450px;
    width: 300px;
    border: 3px solid transparent;
    border-radius: 15px;
    /* padding: 10px; */
    text-align: center;
    transition: all 0.5s;
}

.card:hover{
    border: 3px solid var(--primary-yellow);
    transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 209, 0, 0.2);
}

.card-top{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 40%;
    background-color: var(--primary-yellow);
    border-radius: 15px 15px 0 0;
}

.card-top i{
  font-size:50px;
}

.card-bottom{
    padding: 15px;
}

.card-bottom p{
    font-size: 1rem;
    text-align: start;
}

.language{
    font-weight: 100;
    opacity: 0.5;
    margin-left: 0px;
}

.description{
    text-align: start;
    /* width:500%; */
    font-size: 0px;
}

.card h2{
    text-align: start;
    font-size:1.3rem ;
    font-weight: 600;
}

.subtext{
    display: flex;
    justify-content: space-around;
    margin-left: 0;
}

span{
    margin-right: 7px;
    font-weight: 500;
    text-align: start;
    font-size: 13px;
}

.links{
    display: flex;
    justify-content: space-around;
        margin-top: 5px;

}

.links a{
    color: var(--primary-yellow);
    text-decoration: none;
    font-size: 1.2rem;
}

.links a:hover{
    text-decoration: underline;
}

@media (max-width: 760px) {
    #all, #utility, #fun{
        padding: 0;
        place-content: center;
    }
    .underline{
        width: 50%;
    }
    .title{
        h1{
        font-size: 2rem;
        margin-left: 30px;
        width: 70vw;
        }
        width: 80vw;
        place-items: center;
        place-content: center;
    }
}

@media all and (-moz-min-device-pixel-ratio:0) {
  .card-top {
    transform: translateY(-5px);
  }
}