body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(153, 0, 0);
    color: white;
    /* display: flex; */
    flex-wrap: wrap;
    padding: 0 30px;
}

.title{
    margin-bottom: 20px;
}

h1{
    display: flex;
    justify-self: center;
    /* margin: 50px; */
    margin-bottom: 0;
    font-size: 50px;
}

.underline{
    position: relative;
    left: 40%;
    width: 70vh;
    height:6px;
    margin-top: 9px;
    background-image: linear-gradient(yellow);
    background-repeat: no-repeat;
    background-size: 70% 1px;
}

#list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;  
    column-gap: 15px;
    padding: 2rem;
}

.card{
    background-color: rgb(153, 0, 0);
    height: 450px;
    width: 300px;
    border-radius: 15px;
    /* padding: 10px; */
    text-align: center;
    transition: all 0.5s;
}

.card:hover{
    border: 5px solid yellow;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 209, 0, 0.2);
}

.card-top{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 40%;
    background-color: yellow;
    border-radius: 15px 15px 0 0;
}

.card-top i{
  font-size:50px;
}

.card-bottom{
    padding: 15px;
}

.card-bottom p{
    font-size: 1rem;
    text-align: start;
}

.language{
    font-weight: 100;
    opacity: 0.5;
    margin-left: 0px;
}

.description{
    text-align: start;
}

.card h2{
    text-align: start;
    font-size:1.3rem ;
    font-weight: 600;
}

.subtext{
    display: flex;
    justify-content: space-around;
    margin-left: 0;
}

span{
    margin-right: 7px;
    font-weight: 500;
    text-align: start;
    font-size: 13px;
}

.links{
    display: flex;
    justify-content: space-around;
        margin-top: 5px;

}

.links a{
    color: yellow;
    text-decoration: none;
    font-size: 1.2rem;
}

.links a:hover{
    text-decoration: underline;
}

@media (max-width: 760px) {
    #list{
        padding: 0;
    }
    .underline{
        width: 50%;
    }
}